*{
    margin:0%;
    padding:0%;
}
body{
    color: #1d1e1c;
    font-family: Muoto,-apple-system,BlinkMacSystemFont,Segoe UI,sans-serif;
}
#main{
    padding: 32px;
}
#container{
    width: 80%;
    margin: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#header{
    margin-bottom: 24px;
}
#header h1{
    
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 16px;
}
#header button{
    background-color: #188433;
    color: white;
    border-radius: 8px;
    border: 0px;
    font-size: 15px;
    padding: 6px 10px;
    cursor: pointer;
}
#content{
    background: rgba(29,30,28,.07);
    color: #1d1e1cb3;
    font-size: 17px;
    text-align: center;
margin-top: 20px;
}
#excontent{
    padding:50px;
    display: flex;
}

/* form */
#fcontainer{
    background: #fff8f1;
    border: 1px solid #ffa26c;
    display: flex;
    gap: 20px;
    padding: 20px;
}
form{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
input, select{
    padding: 4px;
    border-radius: 4px;
}

#date{
    width:20%;
}
#amount{
    width:20%;
}
#s_expenses{
    background-color:  #ffa26c;
    color: white;
}