#bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
#bottom-1{
    text-align: center;
    font-size: 14px;
    color: grey;
    bottom: 0;

}
#bottom-1>button{
    margin: 5px;
    padding:5px 10px;
    border-radius: 5px;
}
#bottom-2{
    color: grey;
    display: flex;
    width: 35%;
    font-size: 14px;
    justify-content: space-between;
    margin:20px auto 0px;
    cursor: pointer;
}
#bottom-2>img{
    position: relative;
    bottom: 15px;
    width: 150px;
}